@media (max-width: 1200px){
    .carousel-img{

        height: 100vh;
    }
    .my-form{
        margin-bottom: 10px;
    }

    .log-in{
        margin-top: 25px;
    }

    .setting{
        margin-right: 500px;
    }
}


@media (max-width: 800px) {
    .my-form{
        display: flex;
        align-items: center;
        
    }
    .my-form input{
        width: 200px;
        margin: 20px 0;
    }
    .my-form button{
        height: 40px;
    }
    


    .carousel-img{

        height: 45vh;
    }

    

    .customer-box{
        display: flex;

        flex-direction: column;

        align-items: center;

        gap: 10px;
    }


    .newsletter{
        padding-top: 10px;
    }

    .food-card{
        flex-direction: column;
        align-items: center;
    }

    .food-card div{
        margin-top: 10px;
    }

    .order-cart div{
        
        text-align: center;
    }
}





@media (max-width: 600px) {
    .carousel-img{

        height: 40vh;
    }

    .brand-logo{
        width: 50%;
    }

    .food-img img{
        height: 70px;
        width: 70px;
    }

    .chef-moto{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .customer-img{
        width: 100%;
        align-items: center;
    }

    .customer{
        width: 200px;
    }

    .my-form{
        padding-left: 0;
    }
    
    .log-in ul{
        padding-left: 0;
    }
}

@media (max-width: 430px){
    .carousel-img{

        height: 30vh;
    }

    .brand-logo .name-logo{
        display: none;
    }

    .customer, .customer-img{
        width: 200px;
        margin: 0 auto ;
    }

    .customer h5 ,.customer p ,.customer i{
        text-align: center;
    }

    .log-in{
        padding: 0;

    }

    .my-form{
        padding-left: 0;
    }
    
    .log-in ul{
        padding-left: 0;
    }
}

