@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

/* navbar */

.brand-logo{
    height: 60px;
}


.search-box{
    width: 400px;
}

/* carousel  */

.carousel-img{
    height: 85vh;
}


/* food category  */

.food-img img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}


.chef-review img{
    height: 100px;
}